.header_top{
    display: block;
    height: 150px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid black;
}

.header_top h2{
    line-height: 100px;
    float: left;
}

.header_top img{
    float: right;
    width: 100px;
}

#logo{
    width: 150px;
}

