.success{
    height: 50px;
    padding: 17px;
    margin-top: 5px;
}

.success p{
    color: green;
    
}

input[type="submit"]{
    margin: 10px;
}

.info-user{
    height: 100%;
    margin-top: 10px;
    padding: 20px;
}